<%- include('../partials/adminHeader') %>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

    <style>
        .href {
            background-color: #000000;
            color: white;
            padding: 14px 25px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border-radius: 25px;
        }

        .href:hover {
            background-color: rgb(61, 43, 43);
        
        }

        .button{
            background-color:#bac9ff
        }
    </style>
    <a class=" mr-2 ml-3  btn button" href="/admin/cat-sel?id=all">All</a>
    <a class="mr-2 btn button" href="/admin/cat-sel?id=confirmed">Confirmed</a>
    <a class="button btn" href="/admin/cat-sel?id=delivered">Delivered</a>
    <div class="container mt-5">
        <table class="table" id="myTable22">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Payment Type</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                    <th scope="col">Cancel</th>
                </tr>
            </thead>
            <tbody>
                <% for(let i=1;i<=orders.length;i++) { if(orderStatus=='all' ) { %>
                    <tr>
                        <td>
                            <h6>
                                <%=orders[i-1].createdAt.toDateString() %>
                            </h6>
                        </td>
                        <td>
                            <h6>
                                <%=orders[i-1].payment %>
                            </h6>
                        </td>
                        <td>
                            <h6>
                                <%=orders[i-1].totalprice %>
                            </h6>
                        </td>
                        <td>
                            <h6>
                                <%=orders[i-1].status %>
                            </h6>
                        </td>
                        <td>
                            <h6>
                                <form action="/admin/confirm-order?id=<%=orders[i-1]._id %>" method="post">
                                    <button type="submit" class="btn-primary">Confirm</button>
                                </form>
                            </h6>
                        </td>

                        <td>
                            <h6>
                                <form action="/admin/delete-order?id=<%=orders[i-1]._id %>" method="post">
                                    <button type="submit" class="btn-primary">Cancel</button>
                                </form>
                            </h6>
                        </td>

                    </tr>
                    <%} else if(orderStatus=='confirmed' && orders[i-1].status=='confirmed' ){ %>
                        <tr>
                            <td>
                                <h6>
                                    <%=orders[i-1].createdAt.toDateString() %>
                                </h6>
                            </td>
                            <td>
                                <h6>
                                    <%=orders[i-1].payment %>
                                </h6>
                            </td>
                            <td>
                                <h6>
                                    <%=orders[i-1].totalprice %>
                                </h6>
                            </td>
                            <td>
                                <h6>
                                    <%=orders[i-1].status %>
                                </h6>
                            </td>
                            <td>
                                <h6>
                                    <form action="/admin/deliver-order?id=<%=orders[i-1]._id %>" method="post">
                            <button type="submit" class="btn-primary">Deliver</button></form>
                                </h6>
                            </td>
                            <td>
                                <h6>
                                    <form action="/admin/delete-order?id=<%=orders[i-1]._id %>" method="post">
                                        <button type="submit" class="btn-primary">Cancel</button>
                                    </form>
                                </h6>
                            </td>
                        </tr>
                        <%} else if(orderStatus=='delivered' && orders[i-1].status=='delivered' ){ %>
                            <tr>
                                <td>
                                    <h6>
                                        <%=orders[i-1].createdAt.toDateString() %>
                                    </h6>
                                </td>
                                <td>
                                    <h6>
                                        <%=orders[i-1].payment %>
                                    </h6>
                                </td>
                                <td>
                                    <h6>
                                        <%=orders[i-1].totalprice %>
                                    </h6>
                                </td>
                                <td>
                                    <h6>
                                        <%=orders[i-1].status %>
                                    </h6>
                                </td>
                                <td>
                                    <h6>
                                        
                                    </h6>
                                </td>
                                <td>
                                    <h6>
                                        
                                    </h6>
                                </td>
                            </tr>
                            <% }} %>
            </tbody>
        </table>
        <script>
            $(document).ready(function () {
                $('#myTable22').DataTable({
                    dom: 'Bfrtip',
                    buttons: [
                        'copy', 'csv', 'excel', 'pdf', 'print'
                    ]
                });
            })
        </script>
    </div>