<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Keybounce</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->

    <link rel="manifest" href="https://cdn1.iconfinder.com/data/icons/andriod-app-logo/32/icon_k-512.png">

    <link rel="shortcut icon" href="https://cdn1.iconfinder.com/data/icons/andriod-app-logo/32/icon_k-512.png">
    <meta name="apple-mobile-web-app-title" content="">
    <meta name="application-name" content="">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="assets/css/style.css">
    <meta charset="utf-8">
    <title>Keybounce</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="https://cdn1.iconfinder.com/data/icons/andriod-app-logo/32/icon_k-512.png" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.3.2/js/buttons.print.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.1/css/jquery.dataTables.css">

</head>

<body>
    <div class="row align-items-center py-3 px-xl-5">
        <div class="col-lg-3 d-none d-lg-block">
            <a href="" class="text-decoration-none">
                <h1 class="m-0 display-5 font-weight-semi-bold"><span
                        class="text-primary font-weight-bold">Keybounce</span></h1>
            </a>
        </div>
        <div class="col-lg-6 col-6 text-left">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for products" name="search">
                    <div class="input-group-append">
                        <span class="input-group-text bg-transparent text-primary">
                            <button style="color:#000000; border-color:#fff;background-color:transparent;border: none;"
                                class="fa fa-search" type="submit" value="search"></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-3 col-6 text-right">
            <a href="/wishlist" class="btn border">
                <i class="fas fa-heart text-primary"></i>
                <span class="badge">0</span>
            </a>
            <a href="/cart" class="btn border">
                <i class="fas fa-shopping-cart text-primary"></i>
                <span class="badge">0</span>
            </a>
        </div>
    </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
        </div>
    </div>
    <div class="page-wrapper">
        <main class="main">
            <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
                <div class="container">
                    <h1 class="page-title">My Account<span></span></h1>
                </div><!-- End .container -->
            </div><!-- End .page-header -->
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="dashboard">
                    <div class="container">
                        <div class="row">
                            <aside class="col-md-4 col-lg-3">
                                <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="tab-dashboard-link" data-toggle="tab"
                                            href="#tab-dashboard" role="tab" aria-controls="tab-dashboard"
                                            aria-selected="true">Dashboard</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-orders-link" data-toggle="tab" href="#tab-orders"
                                            role="tab" aria-controls="tab-orders" aria-selected="false">Orders</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-downloads-link" data-toggle="tab"
                                            href="#tab-downloads" role="tab" aria-controls="tab-downloads"
                                            aria-selected="false">Edit Profile</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-address-link" data-toggle="tab" href="#tab-address"
                                            role="tab" aria-controls="tab-address" aria-selected="false">View
                                            Adresses</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="tab-account-link" data-toggle="tab" href="#tab-account"
                                            role="tab" aria-controls="tab-account" aria-selected="false">Add Address</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/logout">Sign Out</a>
                                    </li>
                                </ul>
                            </aside><!-- End .col-lg-3 -->

                            <div class="col-md-8 col-lg-9">
                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="tab-dashboard" role="tabpanel"
                                        aria-labelledby="tab-dashboard-link">
                                        <p>Hello <span class="font-weight-normal text-dark">
                                                <%=user.fname %>
                                            </span> (not <span class="font-weight-normal text-dark">
                                                <%=user.fname %>
                                            </span>? <a href="/logout">Log out</a>)
                                            <br>
                                            From your account dashboard you can view your <a href="#tab-orders"
                                                class="tab-trigger-link link-underline">recent orders</a>, manage your
                                            <a href="#tab-address" class="tab-trigger-link">shipping and billing
                                                addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit
                                                your password and account details</a>.
                                        </p>
                                    </div><!-- .End .tab-pane -->

                                    <div class="tab-pane fade" id="tab-orders" role="tabpanel"
                                        aria-labelledby="tab-orders-link">
                                        <table id="example" class="table" style="width:100%">

                                            <% if(orders.length>0) { %>
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th scope="col" class="text-center">Date</th>
                                                        <th scope="col">Payment Type</th>
                                                        <th scope="col">Amount</th>
                                                        <th scope="col">Status</th>
                                                        <th scope="col">Details</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for(let i=1;i<=orders.length;i++) { %>
                                                        <tr>
                                                            <td>
                                                                <h6>
                                                                    <%=orders[i-1].createdAt.toDateString() %>
                                                                </h6>
                                                            </td>
                                                            <td>
                                                                <h6>
                                                                    <%=orders[i-1].payment %>
                                                                </h6>
                                                            </td>
                                                            <td>
                                                                <h6>
                                                                    <%=orders[i-1].totalprice %>
                                                                </h6>
                                                            </td>
                                                            <td>
                                                                <h6>
                                                                    <%=orders[i-1].status %>
                                                                </h6>
                                                            </td>
                                                            <form action="/orderdetails?id=<%=orders[i-1]._id %>"
                                                                method="post">
                                                                <td><button type="submit"
                                                                        class="btn-primary">Details</button></td>
                                                            </form>
                                                            <form action="/export-to-pdf?id=<%=orders[i-1]._id %>"
                                                                method="post">
                                                                <td><button type="submit"
                                                                        class="btn-primary">Download</button></td>
                                                            </form>

                                                        </tr>
                                                        <% }} else{ %>
                                                            <p>No order has been made yet.</p>
                                                            <% } %>
                                                </tbody>
                                        </table>
                                        <a href="category.html" class="btn btn-outline-primary-2"><span>GO SHOP</span><i
                                                class="icon-long-arrow-right"></i></a>
                                    </div><!-- .End .tab-pane -->
                                    <script>
                                        $(document).ready(function () {
                                            $('#example').DataTable({
                                                dom: 'Bfrtip',
                                                buttons: [
                                                    'copy', 'csv', 'excel', 'pdf', 'print'
                                                ]
                                            });
                                        })
                                    </script>

                                    <div class="tab-pane fade" id="tab-downloads" role="tabpanel"
                                        aria-labelledby="tab-downloads-link">
                                        <form action="/add-address">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>First Name *</label>
                                                    <input type="text" class="form-control" value="<%=users.fname%>"
                                                        name="fname">
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>Last Name *</label>
                                                    <input type="text" class="form-control" value="<%=users.lname%>"
                                                        nmae="lname">
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <label>Display Name *</label>
                                            <input type="text" class="form-control"
                                                value="<%=users.fname%> <%=users.lname%> ">
                                            <small class="form-text">This will be how your name will be displayed in the
                                                account section and in reviews</small>

                                            <label>Email address *</label>
                                            <input type="email" class="form-control" value="<%=users.email%>"
                                                name="email">

                                            <label>Current password (leave blank to leave unchanged)</label>
                                            <input type="password" class="form-control" name="password">

                                            <label>New password (leave blank to leave unchanged)</label>
                                            <input type="password" class="form-control" name="npassword">

                                            <label>Confirm new password</label>
                                            <input type="password" class="form-control mb-2" name="cpassword">

                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SAVE CHANGES</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </form>
                                    </div><!-- .End .tab-pane -->



                                    <div class="tab-pane fade" id="tab-address" role="tabpanel"
                                        aria-labelledby="tab-address-link">
                                        <% if(address.address!=null) { %>
                                            <p>The following addresses will be used on the
                                                checkout page by default.</p>
                                            <div class="row">
                                                <% for(let i=1;i<=address.length;i++){ %>
                                                    <div class="col-lg-6">
                                                        <div class="card card-dashboard">
                                                            <div class="card-body">
                                                                <h3 class="card-title">Billing Address</h3>
                                                                <!-- End .card-title -->

                                                                <p>
                                                                    <%=address[i-1].address%>
                                                                        <%=address[i-1].town%> <br>
                                                                            <%=address[i-1].city%> <br>
                                                                                <%=address[i-1].state%><br>
                                                                                    <%=address[i-1].country%><br>
                                                                                        <%=address[i-1].zip%><br>
                                                                                            <br>
                                                                                                <a class="nav-link"
                                                                                                    id="tab-downloads-link"
                                                                                                    data-toggle="tab"
                                                                                                    href="#tab-downloads"
                                                                                                    role="tab"
                                                                                                    aria-controls="tab-downloads"
                                                                                                    aria-selected="false">Edit
                                                                                                    Profile</a>
                                                                </p>
                                                            </div><!-- End .card-body -->
                                                        </div><!-- End .card-dashboard -->
                                                    </div><!-- End .col-lg-6 -->
                                                    <% } %>
                                            </div><!-- End .row -->
                                            <% } else { %>
                                                <p>You have not set up this type of address yet.<br>

                                                    <!-- End .col-lg-6 -->

                                                    <% } %>
                                    </div><!-- .End .tab-pane -->

                                    <div class="tab-pane fade" id="tab-account" role="tabpanel"
                                        aria-labelledby="tab-account-link">
                                        <form action="/add-address" method="post">
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <label>Address</label>
                                                    <input type="text" class="form-control" name="address">
                                                </div><!-- End .col-sm-6 -->

                                                <div class="col-sm-6">
                                                    <label>Town</label>
                                                    <input type="text" class="form-control" name="town">
                                                </div><!-- End .col-sm-6 -->
                                            </div><!-- End .row -->

                                            <label>City</label>
                                            <input type="text" class="form-control" name="city">

                                            <label>State</label>
                                            <input type="text" class="form-control" name="state">

                                            <label>Country</label>
                                            <input type="text" class="form-control" name="country">

                                            <label>ZIP</label>
                                            <input type="text" class="form-control" name="zip">

                                            <button type="submit" class="btn btn-outline-primary-2">
                                                <span>SAVE CHANGES</span>
                                                <i class="icon-long-arrow-right"></i>
                                            </button>
                                        </form>
                                    </div><!-- .End .tab-pane -->
                                </div>
                            </div><!-- End .col-lg-9 -->
                        </div><!-- End .row -->
                    </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->


        <!-- Footer Start -->
        <div class="container-fluid bg-secondary text-dark mt-5 pt-5">
            <div class="row px-xl-5 pt-5">
                <div class="col-lg-4 col-md-12 mb-5 pr-3 pr-xl-5">
                    <a href="" class="text-decoration-none">
                        <h1 class="mb-4 display-5 font-weight-semi-bold"><span
                                class="text-primary font-weight-bold border border-white px-3 mr-1">Keybound</span></h1>
                    </a>
                    <p>For that perfect typing experience.</p>
                    <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>Brototype, Laham Complex</p>
                    <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>abhy.r010@gmail.com</p>
                    <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>9539336483</p>
                </div>
                <div class="col-lg-8 col-md-12">
                    <div class="row">
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" href="index.html"><i
                                        class="fa fa-angle-right mr-2"></i>Home</a>
                                <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our
                                    Shop</a>
                                <a class="text-dark mb-2" href="/shop"><i class="fa fa-angle-right mr-2"></i>Shop
                                    Detail</a>
                                <a class="text-dark mb-2" href="/cart"><i class="fa fa-angle-right mr-2"></i>Shopping
                                    Cart</a>
                                <a class="text-dark mb-2" href="/checkout"><i
                                        class="fa fa-angle-right mr-2"></i>Checkout</a>
                                <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact
                                    Us</a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Quick Links</h5>
                            <div class="d-flex flex-column justify-content-start">
                                <a class="text-dark mb-2" href="index.html"><i
                                        class="fa fa-angle-right mr-2"></i>Home</a>
                                <a class="text-dark mb-2" href="shop.html"><i class="fa fa-angle-right mr-2"></i>Our
                                    Shop</a>
                                <a class="text-dark mb-2" href="detail.html"><i class="fa fa-angle-right mr-2"></i>Shop
                                    Detail</a>
                                <a class="text-dark mb-2" href="cart.html"><i
                                        class="fa fa-angle-right mr-2"></i>Shopping
                                    Cart</a>
                                <a class="text-dark mb-2" href="checkout.html"><i
                                        class="fa fa-angle-right mr-2"></i>Checkout</a>
                                <a class="text-dark" href="contact.html"><i class="fa fa-angle-right mr-2"></i>Contact
                                    Us</a>
                            </div>
                        </div>
                        <div class="col-md-4 mb-5">
                            <h5 class="font-weight-bold text-dark mb-4">Newsletter</h5>
                            <form action="">
                                <div class="form-group">
                                    <input type="text" class="form-control border-0 py-4" placeholder="Your Name"
                                        required="required" />
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control border-0 py-4" placeholder="Your Email"
                                        required="required" />
                                </div>
                                <div>
                                    <button class="btn btn-primary btn-block border-0 py-3" type="submit">Subscribe
                                        Now</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border-top border-light mx-xl-5 py-4">
                <div class="col-md-6 px-xl-0">
                    <p class="mb-md-0 text-center text-md-left text-dark">
                        &copy; <a class="text-dark font-weight-semi-bold" href="#">Keybound</a>. All Rights Reserved.
                        Designed
                        by
                        <a class="text-dark font-weight-semi-bold" href="https://htmlcodex.com">Abhy</a><br>
                        <a href="https://themewagon.com" target="_blank"></a>
                    </p>
                </div>
                <div class="col-md-6 px-xl-0 text-center text-md-right">
                    <img class="img-fluid" src="img/payments.png" alt="">
                </div>
            </div>
        </div>

        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-primary back-to-top"><i class="fa fa-angle-double-up"></i></a>


        <!-- JavaScript Libraries -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="lib/easing/easing.min.js"></script>
        <script src="lib/owlcarousel/owl.carousel.min.js"></script>

        <!-- Contact Javascript File -->
        <script src="mail/jqBootstrapValidation.min.js"></script>
        <script src="mail/contact.js"></script>

        <!-- Template Javascript -->
        <script src="js/main.js"></script>

        <!-- Plugins JS File -->
        <script src="assets/js/jquery.min.js"></script>
        <script src="assets/js/bootstrap.bundle.min.js"></script>
        <script src="assets/js/jquery.hoverIntent.min.js"></script>
        <script src="assets/js/jquery.waypoints.min.js"></script>
        <script src="assets/js/superfish.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <!-- Main JS File -->
        <script src="assets/js/main.js"></script>

</body>


<!-- molla/dashboard.html  22 Nov 2019 10:03:13 GMT -->

</html>